# Testing Jupytext workflow
A simple notebook to see how feasible collaborating using jupytext + git is.
Some more text....

In [2]:
# some imports
import pandas as pd
import numpy as np

In [8]:
df = pd.Series(range(10))
df = pd.DataFrame(df)
df['random'] = np.random.randint(0,10,(10,))

In [9]:
df = pd.read_csv('output.csv')

   0  random
0  0       7
1  1       6
2  2       2
3  3       4
4  4       6
5  5       6
6  6       9
7  7       9
8  8       5
9  9       4

# Summary
Damn that dataframe is wild yo